body {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;
}

h1 {
    font-size: 1.3em;
    text-align: center;
}

h2 {
    font-size: 1.1em;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}

tr {
    border: 1px solid #f06e03;
    text-align: center;
    background-color: #1282f3;
}

th {
    text-align: center;
    color: #ee0c0c;
    background-color: #be0e8a;
}